{{include ('head.html')}}
{{include ('header.html')}}
<br>
{{include ('menulateral.html}}
<div class="row medium-6 small-8 callout large">
    <h1>Locais Disponiveis</h1>
    <p>Pagina onde voce encontrara muitas coisas/p>
    <hr>
    {% for item in navigation %}
        <li>
            <a href="{{ item.href }}">{{ item.caption }}</a>
        </li>
        <li><a href="#" name="delete">Delete Local</a></li>
        <li><a href="#" name="add">Add Local</a></li>
        <li><a href="#" name="change">Change Local</a></li>
    {% endfor %}
</div>
{{include ('footer.html')}}