{{include ('head.html')}}
{{include ('header.html')}}
<br>
{{include ('menulateral.html')}}
<div class="row medium-6 small-8 callout large">
    <h2 class="page-header">Locais Próximos Recomendados</h2>
    <div class="row">
        {% for local in locais %}
        <div class="small-3 column">
            {% for imagem in img %}
            {% if imagem.idBanheiro == local.id %}
            <img src="{{imagem.endereco}}" class="thumbnail" height="100%" width="auto">
            {% endif %}
            {% endfor %}
        </div>
        <div class="small-9 columns">
            <ul>
                <li>Local: {{local.name}}</li>
                <li>Média: {{local.media}}</li>
            </ul>
            <span class="right"><a href="https://www.google.com/maps/search/{{local.latitude}},{{local.longitude}}?hl=pt-BR" class="button" style="float: right;">Google Maps</a></span>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
</div>
{{include ('footer.html')}}