{{include ('head.html')}}
{{include ('header.html')}}
<br>
{{include ('menulateral.html')}}
<div class="row medium-6 small-8 callout large">
    <h1 class="page-header">{{titulo}}</h1>
    <button class="button" onclick="mapa.setView([navigator.geolocation.getCurrentPosition(pegaPosition))">Viajar</button>
    <button class="button" onclick="tentarMeuLocal()">Meu Local</button>
    <div id="mapao" onclick="onMapClick()"></div>
</div>
<script type="text/javascript" src="{{webaddress}}/assets/js/cria_mapa.js"></script>
<script type="text/javascript">
    function onMapClick(e) {
        var marker = L.marker(e.latlng).addTo(mapa);
    }

    mapa.on('click', onMapClick);
    function tentarMeuLocal() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(pegaPosition);
        } else {
            alert("Não foi possível encontrar o seu lugar!");
        }
    }
    function pegaPosition(position) {
        var coord = position.coords.latitude;
        var enadas = position.coords.longitude;
        mapa.setView([coord, enadas]);
        var marker = L.marker([coord, enadas]).addTo(mapa);
        marker.bindPopup("Você está aqui!").openPopup();
        L.circle([-29.161793, -51.522194], 200).addTo(mapa);
    }
</script>
</div>
{{include ('footer.html')}}