{{include ('head.html')}}
{{include ('header.html')}}
<br>
{{include ('menulateral.html')}}
<div class="row medium-6 small-8 callout large">
    <h1 class="step fi-compass"> Minha Conta</h1>
    <p>Informações de sua conta e perfil, fique a vontade para alterar</p>
    <form action="altera.php" method="post">
        <label>Email
            <input type="text" id='email' name='email'>
        </label>
        <label>Nome
            <input type="text" id='nome' name='nome'>
        </label>

        <label>Foto de Perfil</label>
        <label for="exampleFileUpload" class="button">Faça o Upload</label>
        <input type="file" id="exampleFileUpload" class="show-for-sr" aria-describedby="pictureHelpText">
        <p class="help-text" id="passwordHelpText">Sua Imagem de Perfil.</p>
        <hr>
        <div class="input-group-button">
            <input type="submit" class="button success" value="Salvar Alterações">
        </div>
        <div class="input-group-button">
            <input type="reset" class="button warning" value="Cancelar">
        </div>
    </form>
</div>
{{include ('footer.html')}}