<body>
<div class="top-bar">
  <div class="top-bar-title">
    <strong><a href="{{webaddress}}">Um Bom Amigo</a></strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a class="step fi-male-female" href="{{webaddress}}/usuario/login"> {{user_name}}</a>
          <ul class="menu vertical">
              {% for thing in user_dropdown %}
              <li><a href="{{thing.1}}" class="{{thing.2}}"> {{thing.0}}</a></li>
              {% endfor %}
          </ul>
        </li>
        {% for thing in user_topbar %}
        <li><a href="{{thing.1}}" class="{{thing.2}}"> {{thing.0}}</a></li>
        {% endfor %}
          {% if admin_dropdown != null %}
          <li>
              <a href="{{webaddress}}/dashboard" class="step fi-clipboard-pencil"> Dashboard</a>
              <ul class="menu vertical">
                  {% for thing in admin_dropdown %}
                  <li><a href="{{thing.1}}" class="{{thing.2}}"> {{thing.0}}</a></li>
                  {% endfor %}
              </ul>
          </li>
          {% endif %}
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <a href="{{webaddress}}/banheiro/procurar" class="button">I NEED!</a>
      </ul>
    </div>
  </div>
</div>