<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pt-br" ><![endif]-->
<html class="no-js" lang="pt-br" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Um Bom Amigo - {{pagina}}</title>

  <link rel="stylesheet" href="{{webaddress}}/assets/css/foundation.css">
  <link rel="stylesheet" href="{{webaddress}}/assets/css/foundation-icons/foundation-icons.css" />
  <link rel="stylesheet" href="{{webaddress}}/assets/css/app.css">
  <link rel="stylesheet" href="{{webaddress}}/assets/leaflet/leaflet.css">
  <script src="{{webaddress}}/assets/js/sweetalert-dev.js"></script>
  <link rel="stylesheet" href="{{webaddress}}/assets/css/sweetalert.css">
  <script src="{{webaddress}}/assets/js/modernizr.custom.js"></script>
  <script type="text/javascript" src="{{webaddress}}/assets/js/leaflet.js"></script>

</head>
