<div class="top-bar">
  <div class="top-bar-title">
    <strong><a href="{{webaddress}}">Um Bom Amigo</a></strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a class="step fi-male-female" href="{{webaddress}}/usuario/login"> Conta</a>
          <ul class="menu vertical">
            <li><a class="step fi-plus 50" href="{{webaddress}}/usuario/cadastrar">  Criar Conta</a></li>
            <li><a class="step fi-power" href="{{webaddress}}/usuario/logout"> Logout</a></li>
            <li><a class="step fi-torsos-all-female" href="{{webaddress}}/usuario/perfil/{{this_username}}"> Minha Conta</a></li>
          </ul>
        </li>
        <li><a class="step fi-heart" href="{{webaddress}}/banheiro/classificar"> Avaliar Local</a></li>
        <li><a class="step fi-marker" href="{{webaddress}}/banheiro/adicionar"> Sugerir Novo</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <a href="{{webaddress}}/banheiro/procurar" class="button">I NEED!</a>
      </ul>
    </div>
  </div>
</div>