<div class="top-bar">
  <div class="top-bar-title">
    <strong>Master</strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a class="step fi-male-female" href="login.php"> Conta</a>
          <ul class="menu vertical">
            <li><a class="step fi-plus 50" href="criar.php">  Criar Conta</a></li>
            <li><a class="step fi-power" href="logout.php"> Logout</a></li>
            <li><a class="step fi-torsos-all-female" href="myaccount.php"> Minha Conta</a></li>
          </ul>
        </li>
        <li><a class="step fi-heart" href="avaliar.php"> Avaliar Local</a></li>
        <li><a class="step fi-marker" href="novolocal.php"> Sugerir Novo</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <button type="button" class="button"><a href="mapaIndex.php"></a>I NEED!</button>
      </ul>
    </div>
  </div>
</div>