<!-- LARGE SCREEN TOP BAR MENU -->
<section class="navigation-section show-for-large-up">
    <div class="row">
        <div class="large-12 columns">
             
            <!-- TOP BAR INITIALIZATION -->
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1></h1>
                    </li>
                </ul> <!-- END UL.TITLE-AREA -->
 
                <!-- TOP BAR MENU ELEMENTS -->
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="active"><a href="../../../front-end/View/index.html">Home</a></li>
                        <li class="has-dropdown">
                            <a href="blog.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog.html">Archive</a></li>
                                <li><a href="post.html">Single</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="page.html">Page</a>
                            <ul class="dropdown">
                                <li><a href="page.html">Full-wdith</a></li>
                                <li><a href="sidebar-left.html">Left Sidebar</a></li>
                                <li><a href="sidebar-right.html">Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li class="has-dropdown">
                            <a href="#">Dropdown</a>
                            <ul class="dropdown">
                                <li><a href="#">First link in dropdown</a></li>
                                <li><a href="#">Second link in dropdown</a></li>
                                <li><a href="#">Third link in dropdown</a></li>
                            </ul>
                        </li>
                    </ul>
                </section> <!-- END SECTION.TOP-BAR-SECTION -->
            </nav> <!-- END NAV.TOP-BAR -->
 
        </div> <!-- END 12 COLUMNS -->
    </div> <!-- END ROW -->
</section> <!-- END SECTION.NAVIGATION-SECTION -->